.new-order {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.orderText {
  height: 238px !important;
}
.selection-box {
  width: 100%;
  height: 200px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.product-selection-container {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.product-selection-container img {
  width: 60px;
  transition: all 0.3s;
}
.product-selection-container:nth-child(even) {
  background-color: #fff;
}
.lower-sl-box {
  display: flex;
}
.sl-title {
  font-weight: 600;
  margin-bottom: 5px;
}
.sl-info {
  font-size: 14px;
}
.sl-info:last-child {
  margin-left: 20px;
}
.add-cd-main-container {
  overflow: auto;
  padding-bottom: 30px;
}
.bottom-cd-container {
  padding-left: 10px;
  padding-right: 7px;
}
#material {
  width: 100% !important;
}
.pd-index {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pd-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pd-name img {
  width: 70px;
  height: 60px;
}
.pd-quantity {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-order-card {
  width: 700px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
#order-content {
  height: auto;
}
.add-col-1 {
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
}
.form-row {
  /* display: flex; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.order {
  width: 300px !important;
}
.add-col-2 {
  width: 100%;
  padding-top: 30px;
}
.textarea {
  height: 240px;
}
.btn-place-order {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4fc3a1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #fff;
}
