.assign-project {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.ass-pj-card {
  width: 700px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.project-sl {
  width: 97.5%;
}
.project-sl li {
  padding: 10px;
  cursor: pointer;
}
.project-sl li:nth-child(odd) {
  background-color: #eee;
}
.project-sl span {
  margin-right: 5px;
}
